{% include 'Common/View/header.twig' %}
<section class="container contact-section">

<form method="post" action="" clas="form">
<div>
<h1 class="form-title">NAPISZ DO NAS</h1> <br>

        <div>
                <input class="form input" type="text" name="name" placeholder="Imię i nazwisko">
        </div>
        <div>
                <input class="form input" type="email" name="email" placeholder="E-mail">
        </div>
        <div>
                <input class="form input" type="text" name="topic" placeholder="Temat">
        </div>
        <div>
                <input class="form input" type="text" name="question" placeholder="Treść">
        </div>
        <div>
        
                <input class="fas fa-check-circle"> <input class="u-center-text submit button" type="submit" value"WYŚLIJ"/>
        </div>
</div>
</form>   

</section>
{% include 'Common/View/footer.twig' %}
