{% include 'Common/View/header.twig' %}
<section class="container contact-section">
        <form method="post" action="" class="form">
<h1 class="form-title">NAPISZ DO NAS</h1> <br>
<input class="form-input" type="text" name="name" placeholder="Imię i nazwisko">
<input class="form-input" type="email" name="email" placeholder="E-mail">
<input class="form-input" type="text" name="topic" placeholder="Temat">
<input class="form-input--text" type="text" name="question" placeholder="Treść">
<input class="submit-button" type="submit" value"WYŚLIJ"/>
</form>   
</section>
{% include 'Common/View/footer.twig' %}