.slider {
    position: fixed;
    right: 5%;
    top: 40%;
}

.sliderDot {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: block;
    margin: 1rem;
    background-color: #c5c1f1;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.sliderDot.active {
    background-color: #37096d;
}

.MainSlider {
    display: none;
}