{% include 'Common/View/header.twig' %}
{% block body %}
	<body class="top-wave">
	{% endblock %}
	<section class="container">
		<h1 class="u-center-text">O nas</h1>
		<br>
		<p> Lorem impsum </p>
		<h2>Poznaj nas</h2>
		<div>
			<div>
				<img class="logo" src="/img/code.svg" alt="Facebook">
				<p>name</p>
				<p>position</p>
			</div>
			<div>
				<img class="logo" src="/img/code.svg" alt="Facebook">
				<p>name2</p>
				<p>position</p>
			</div>
			<div>
				<img class="logo" src="/img/code.svg" alt="Facebook">
				<p>name3</p>
				<p>position</p>
			</div>
		</div>

	</section>
	{% include 'Common/View/footer.twig' %}
</body>
