/* CONTACT PAGE */

.contact-section {
    background-image: url(/img/contact-img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 10rem bottom 0;   
}
.form {
    padding: 20px;
    width: 40%;
    background-color: #f3f2fc;
    border-radius: 1rem;
    position: left;
    text-align: center;
}
.form-title {
    font-weight: bold;
    color:#676767; 
}
.form-input {
    display: block;
    width: 90%;
    height: 50px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 55px;
    padding-left: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    border: none;
    border-radius: 1px;
    outline: none;
    text-align: left;  
} 
.form-input--text {
    display: block;
    width: 90%;
    height: 50px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 55px;
    padding-left: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    border: none;
    border-radius: 0.7px;
    outline: none;
    text-align: left;     
}
  .form-input:focus { 
    border: 1px;
} 
.submit-button {
    display: inline-block;
    border: none; 
    border-radius: 2rem;
    background-color:#DDCCFF;
    margin-top: 1em;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    color: purple;
}
.hide-label {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}